<!DOCTYPE html>
<html lang="en">

<head>
    <title>InflaTracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <input type="text" id="a" placeholder="Enter food..." autocomplete="off" name="Enter Food">
    <button id="submit">Search</button>
    <div id="option"></div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>