<!DOCTYPE html>
<html lang="en">

<head>
    <title>InflaTracker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/220a280fe8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='loginFile.css') }}" rel="stylesheet">
    <style>
            #search {
                background: rgb(135, 204, 157) !important;
            }
    </style>
</head>

<body>
    {% if accountInfo %}
        {% if accountInfo.user != "" %}
            <!-- Okay, now this code gets complicated. -->
            <!-- Automatically we run the home code(the profile): -->
            <input type="text" id="a" placeholder="Enter food..." autocomplete="off" name="Enter Food">
            <button id="submit">Search</button>
            <div id="option"></div>
            <div id="bottom_navigator">
                <p id="swap"></p>
                <a class="chi" href="profile.html" id="profile"><i class="fas fa-user"></i></a>
                <a class="chi" href="stats.html" id="stats"><i class="fas fa-chart-line"></i></a>
                <a class="chi" href="search.html" id="search"><i class="fas fa-search"></i></a>
            </div>
            <script src="{{ url_for('static', filename='search.js') }}"></script>
            <script src="{{ url_for('static', filename='signUp.js') }}"></script>
        {% else %}
            <!--Ok, we don't have an account set up yet.-->
            <!--We're going to make a super quick login portal for now, nothing fancy.-->
            <div id="login">
                <img src="{{ logo }}" alt="Login Picture" id="pic">
                <div id="cover"></div>
                <div id="profileStand">InflaTracker</div>
                <input type="text" placeholder="Username..." id="user">
                <input type="password" placeholder="Password..." id="pass">
                <button id="submitI">Log In</button>
                <button id="signup">Sign Up</button>
                <div id="err"></div>
            </div>
            <script src="{{ url_for('static', filename='signUp.js') }}"></script>
        {% endif %}
    {% endif %}    
</body>

</html>